@import "tailwindcss";

:root {
  --background: #070707;
  --foreground: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  direction: rtl;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #070707;
  color: #ffffff;
  font-family: Arial, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #d8aa4d;
  color: #000;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #090909;
}

::-webkit-scrollbar-thumb {
  background: #80652f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d8aa4d;
}
